<!DOCTYPE html>
<html>
<title>Twitter Rumour Detector &#169; Server 2023</title>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div class="row mx-auto mt-3">
    </div>

    <div class="card mx-auto border-primary card-header">
        <div class="card-body">
            <h2 class="card-title text-primary">Twitter Rumour Detector &#169; Server 2023</h2>
            <h5 class="card-subtitle mb-2 text-muted">Welcome to the server for the Twitter rumour detection browser
                extension
                that I have created during my 4<sup>th</sup> year dissertation at the University of Edinburgh.
            </h5>
            <p class="card-text text-wrap">This server allows users to interact with the state-of-the-art rumour
                detection models and classify their tweets.
            </p>
            <p></p>
            <h5 class="card-subtitle mb-2 text-muted">Privacy Notice
            </h5>
            <p class="card-text text-wrap"> This server, and its assosicated browser extension, are for testing purposes
                only. They aim to show a proof-of-concept application in
                support of my undergraduate dissertation. As such, no personal details whatsover are stored nor handled
                when
                interacting with this browser extension.
            </p>
            <p></p>
            <p class="card-text text-wrap">If you wish to check out the full project materials, follow the link below.
            </p>
            <a href="https://github.com/maddox-j" class="card-link" target="_blank">Project Repository</a>
            <p></p>
            <p class="card-text text-wrap">Happy rumour hunting!</p>
            <p></p>
            <p class="card-text text-wrap">Made by: Andrej Jovanovic</p>
        </div>
    </div>
</body>
<script src="script.js"></script>
<script src="bootstrap.min.js"></script>
<script src="jquery.min.js"></script>

</html>